#viewDetails{
	margin: 0px auto;
	width: 1170px;
}

#viewDetails fieldset{
	border: 0;
	padding: 0;
}

#viewDetails legend{
	border: 0;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
	font-size: 21px;
	line-height: 40px;
	font-weight: lighter;
	font-family: sans-serif;
	border-bottom: 1px solid #e5e5e5;
}

.details .inputs{
	width: 66%;
	display: inline-block;
}

.row label{
	font-weight: 100;
	height: 100%;
	font-size: 14px;
}

#_id:hover{
	cursor: not-allowed;
}

.row{
	margin-bottom: 20px;
}

.row div:first-child{
	height: 100%;
	width: 17%;
	text-align: right;
	display: inline-block;
}

.row div:last-child{
	display: inline-block;
	width: 82%;
}

.row:last-child div:first-child{
	vertical-align: top;
}

.row input, .row select, .row textarea{
	padding: 4px 6px;
	margin-left: 20px;
	border-radius: 3px;
	color: #555555;
	border: inset 1px;
}
.row input{
	width: 206px;
}

.row select{
	width: 90px;
}

.row textarea{
	width: 85%;
}

#image{
	width: 33%;
	height: 336px;
	display: inline-block;
	vertical-align: top;
}

#image div{
	margin: 0px auto;
	padding: 19px;
	width: 50%;
	background-color: #f5f5f5;
	color: #333333;
	border-radius: 4px;
}

#image div p{
	text-align: center;
	font-size: 14px;
	color: #999;
	line-height: 20px;
}

#picture{
	width: 180px;
	display: block;
	margin: 0px auto;
}

.form-action{
	padding: 20px;
	padding-left: 180px;
	margin: 20px 0px;
	color: #333333;
	background-color: #f5f5f5;
}

.form-action a{
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 4px 14px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
}

.saveBttn{
	background-color: #006dcc;
	color: white;
}

.deleteBttn{
	background-color: white;
	color: black;
}